@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}


@media only screen and (min-width 60) {
    html {
        font-size:  110%;
    }
    
}

@media only screen and (min-width 90) {
    html {
        font-size: 120%;
    }
}

@media only screen and (min-width 120) {
    html:{
        font-size: 130%;
    }
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}
   h1{
    text-align: center;
    font-size:3rem;
    margin-top: 0rem;
    }

    .nav{
        color: #6074D9;
        font-size: 1.2rem;
        font-size: 1.2rem;
    }
 
.nav a,
.nav a:link,
.nav a:visited {
    display: block;
    
    color: orange;
    text-decoration:none;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current:link,
.nav .nav-current:visited {
    background-color: white;
    color: red;
}
    
    
header{
     background-color: #993333;
     overflow: hidden;
 }


.headlineintro{
    width: 100%;
    background-color: #e5e4e1;
    text-align: center;
    font-size: 3rem;
}

h1{
    padding-left: 1rem;
}

.moontitle{
    padding-left: 1rem;
}

a:link, a:visited, a:hover{
    text-decoration: none; 
    color: blue;
}

a:focus{ 
    outline: 6px solid black
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a{
    position: absolute;
    top: -3em;
    background-color: red;
    color: #fff;
    padding: 0.5em 0.75em;
    font-weight: bold;
}

.skip-links a:focus {
    top:0;
}

footer{ 
    text-align: center;
    background-color: 	#993333;
    list-style-type: none;
}
.background-1{
    background-color: #993333;
}
    
.background-2{
    background-color:#red ; 
}

label{
    display: block;
}

input + label{
    display: inline-flex;
}

.radio{
    white-space: nowrap;
}

form{
    max-width: 45em;
    margin: 0 auto;
}
.wboxes{ 
    border: 1px solid;
    font-size: 1em;
    font-family: sans-serif;
    background-color: white;
    padding: .2em;
    width: 100%
}
.parrafo{
    text-align: center;
    color: red;
}

textarea{
    width: 100%;
    height: 20em;
}
.ex-headline{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    background-color: #FFCC99;
    
}

h8{
    text-align: center;
    padding: 4rem;
}

.white-color{
    color: white;
}
button{ 
    font-size: 1em;
    border: 1px solid grey;
    font-family: Verdana;
    background-color: white;
    font-weight: 200; 
    padding: 0.5 0.75em;
}

input + labe{
    display: inline-block;
    font-family: sans-serif;
}




@media only screen and (min-width:25em) {
    
 .nav li{
     display: inline-block;  
     margin-right: 1rem;
}
    .nav{
        text-align: center;
        
    }
    
    .nav-footer{
        text-align: center;
    }
    
    .copyright{ 
        text-align: center;
    }
}

@media only screen and (min-width:38em) {
    
    h1{ 
        float: left;
    }
    .nav{
    float: left;
    }
    .nav-footer{
        float: right;
    }
    
    .footer{
        text-align: right;
    }
    
    .copyright{ 
        text-align: left;
    }

}


@media only screen and ( min-width: 60em) {
    
      .nav-footer{
        text-align: right;
    }
    
    .copyright{ 
        text-align: left;
    }
     .nav-footer{
        float: right;
    }
    
    dd{
        float: left;
        width: 50%;
    }
    dt{
        float: left;
        width: 50%;
    }
    
}





























