@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width 60) {
    html {
        font-size:  110%;
    }
    
}

@media only screen and (min-width 90) {
    html {
        font-size: 120%;
    }
}

@media only screen and (min-width 120) {
    html:{
        font-size: 130%;
    }
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}
   h1{
    text-align: center;
    font-size:3rem;
    margin-top: 0rem;
    }

    .nav{
        color: #6074D9;
        font-size: 1.2rem;
    }
 header{
     background-color: lightgray;
     overflow: hidden;
 }


.headlineintro{
    width: 100%;
    background-color: #e5e4e1;
    text-align: center;
    font-size: 3rem;
}

a:link, a:visited, a:hover{
    text-decoration: none; 
    color: blue;
}

footer{ 
    text-align: center;
    background-color: #E0E0E0;
    list-style-type: none;
}
.background-1{
    background-color: #d9d9d9;
}
    
.background-2{
    background-color: #D0D0D0 ; 
}

@media only screen and (min-width:25em) {
    
 .nav li{
     display: inline-block;  
     margin-right: 1rem;
}
    .nav{
        text-align: center;
        
    }
    
    .nav-footer{
        text-align: center;
    }
    
    .copyright{ 
        text-align: center;
    }
}

@media only screen and (min-width:38em) {
    
    h1{ 
        float: left;
    }
    .nav{
    float: left;
    }
    .nav-footer{
        float: right;
    }
    
    .footer{
        text-align: right;
    }
    
    .copyright{ 
        text-align: left;
    }

}


@media only screen and ( min-width: 60em) {
    
      .nav-footer{
        text-align: right;
    }
    
    .copyright{ 
        text-align: left;
    }
     .nav-footer{
        float: right;
    }
    
    dd{
        float: left;
        width: 50%;
    }
    dt{
        float: left;
        width: 50%;
    }
    
}





























